h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px; }

html,
body,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0; }

.nav {
  color: white;
  text-transform: uppercase;
  white-space: nowrap; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    padding: 8px 24px;
    margin: 0 38px;
    list-style: none;
    border-radius: 8px; }
    .nav__item-active {
      background-color: rgba(255, 255, 255, 0.1); }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #9fadc2; }

.header {
  height: 700px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__phone {
    margin: 56px 120px;
    color: white;
    text-decoration: none; }
  .header__logo {
    margin-top: 24px;
    justify-self: center; }
  .header__action {
    margin: 56px 120px; }
  .header__link {
    color: white;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase; }
  .header:hover {
    color: #9fadc2; }
  .header__heading {
    height: 121px;
    width: 340px;
    position: absolute;
    top: 414px;
    left: 120px;
    font-size: 60px;
    line-height: 60px;
    font-style: normal;
    color: white;
    letter-spacing: -1.5px; }
  .header__line {
    background-color: #fff;
    height: 2px;
    width: 35px;
    position: absolute;
    top: 396px;
    left: 120px; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.section {
  padding: 100px calc(50% - 470px) 0; }
  .section__heading {
    position: relative;
    left: 50%; }
    .section__heading::after {
      content: "";
      display: block;
      margin: auto;
      width: 23px;
      height: 16px;
      margin-bottom: 7px;
      background-image: url(../images/crown.svg);
      background-repeat: no-repeat;
      background-position: center; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    width: 328px;
    margin-top: 0; }
  .info__link {
    color: #0075ff;
    text-decoration: none; }
  .info__text {
    max-width: 500px; }
    .info__text :first-child {
      margin-top: 0; }
    .info__text :last-child {
      margin-bottom: 0; }

.link {
  color: #0075ff;
  text-decoration: none; }

.heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
  .photos__wide_left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos__wide_left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos__wide_right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos__wide_right .photos__img:last-child {
    width: calc(67% - 10px); }

.gallery_heading {
  width: 143px; }

.gallery__caption {
  margin: 24px 0 40px; }

.gallery__button {
  width: 188px;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin: 40px auto 0; }

.button {
  display: block;
  height: 56px;
  font-weight: bold;
  line-height: 14px;
  color: #0075ff;
  cursor: pointer;
  margin: auto; }

body {
  background: #eee; }

.blue-text {
  color: #0075ff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

/*# sourceMappingURL=main.css.map */
